@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body
{
  margin: 0;
  padding: 0;
  background: #0B0B0B;
  color: white;
  font-family: 'Poppins';
}

.brand-name
{
  font-family: 'Gantari';
}

.hero-section
{
  /* background-image: url("/public/grid.jpg");
  background-size: contain;
  background-repeat: no-repeat; */
  height: 100vh;
  width: 100%;
}

.normal-text
{
  font-family: system-ui;
  font-style: normal;
}