@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body
{
  margin: 0;
  padding: 0;
  background: #0B0B0B;
  color: white;
  font-family: 'Poppins';
}

.brand-name
{
  font-family: 'Gantari';
}

.hero-section
{
  /* background-image: url("/public/grid.jpg");
  background-size: contain;
  background-repeat: no-repeat; */
  height: 100vh;
  width: 100%;
}

.normal-text
{
  font-family: system-ui;
  font-style: normal;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-down {
  animation: fadeDown 0.10s linear forwards;
}

/* This helper ensures the links are hidden before the animation starts */
.invisible {
  opacity: 0;
  pointer-events: none;
}

/* The !visible class in the JS will override this once we scroll */
.visible {
  opacity: 1;
  pointer-events: auto;
}

.description-font
{
  font-family: "Questrial";
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

/* The Class to apply */
.blinking-caret {
  animation: blink 1s step-end infinite;
}